
<div class="box">
  <form (submit)="onSubmit($event)">
    <input
      type="text"
      [(ngModel)]="plate"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Ex: 2FMDK3, 1GYS4C, 1GKS1E,1G6AS5"
      [disabled]="loading"
    />
    <button type="submit" [disabled]="loading || !plate.length">
      <ng-container *ngIf="loading; else NotLoading"> Loading... </ng-container>
      <ng-template #NotLoading> Add Car </ng-template>
    </button>
  </form>
  <div class="shortcuts">
    <h5>Shortcuts</h5>
    <p (click)="selectPlate($event)" class="examples">
      <button>2FMDK3</button>
      <button>1GYS4C</button>
      <button>1GKS1E</button>
      <button>1G6AS5</button>
    </p>
  </div>
</div>
