
<div class="grid">
  <div class="col-12">
    <div class="card">
      <h4>home works!</h4>
      <p class="text-white">This is your empty page template to start building beautiful applications.</p>
      <p>This is your empty page template to start building beautiful applications.</p>
      <p>This is your empty page template to start building beautiful applications.</p>
      <p>This is your empty page template to start building beautiful applications.</p>
      <p>This is your empty page template to start building beautiful applications.</p>
      <p>This is your empty page template to start building beautiful applications.</p>


    </div>
  </div>
</div>

<div class=""></div>


